.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 20px;
}
button{
    font-size: 23px;
    background-color:#e84118;
    height: 61px;
    width: 122px;
    margin-block: 2px;
    border-radius: 15px;

}
button:hover{
    background-color:#c23616;
}
.calculator{
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    background: #273c75;
    border: black solid 6px;
}